.useful-link {
  /* display: flex; */
  padding-top: 20px;
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-template-rows: auto;
  grid-column-gap: 65px;
  grid-row-gap: 12px;
}

.useful-link__card {
  text-decoration: line-through;
  /* max-width: 300px; */
  /* max-height: 400px; */
  /* margin-right: 30px; */
  text-decoration: none;

  width: 300px;
  height: 115px;
}

.useful-link__card:last-child {
  margin-right: 0px;
}

.useful-link__image {
  object-fit: cover;
  /* max-height: 250px; */
  max-height: 40px;
  max-width: 40px;
  margin-right: 10px;
}

.useful-link__link {
  width: 250px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.useful-link__container {
  display: flex;
}
